*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* Tophead Section Start*/
.tophead{
    width:100%;
    background: #05571d;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 100px;
}
.tophead ul li{
    color:#fff;
    display: inline-block;
    margin:0px 5px;
}
.tophead ul li a{
    color:#b6e9c5;
    
}
/* Tophead Section End*/
/* Header Section Start */
header{
    width:100%;
    height: 100px;
    background: #1a8b3c;
    color:#fff;
    padding:0px 100px;
    line-height: 100px;
    
}
header h1{
    font-size:30px ;
}
header h1,header h3{
    display: inline-block;
}
header h3{
    margin-left: 20px;
}
/* Header Section End */
/* Navbar Section Start */
nav{
    background: #21b84e;
    width:100%;
    height:45px;
    line-height: 40px;
    padding:0px 100px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color:#000;
    font-weight: 600;
    text-decoration: none;
}
nav ul li a:hover{
    font-size: 105%;
    transition: 0.3s linear;
}
/* Navbar Scetion End */
/* aside section start */
section{
    width:100%;
    padding:0px 100px;
}
section:after{
    content:"";
    clear:both;
    display: table;
}
section main{
    float:left;
    width:80%;
}
section aside{
    float:right;
    width:20%;
    background: #b6e9c5;
    padding:20px 15px;
}
aside ul li{
    list-style: none;
    font-weight: 600;
    
}
aside ul{
    padding-bottom:15px;
}
aside ul li ul li{
    font-weight:normal;
    padding-left: 20px;

}
/* aside section end */
/* Main Section Start */
.subheading{
    color:#0af450;
    padding:0px 5px;
}
.myheading{
    padding:5px 0px;
}
main p{
    text-align: justify;
    margin-right:40px;
    
}
main .para{
    border-left: 5px solid #1a8b3c;

    margin:20px 70px;
    padding:10px;
}
.btn{
    text-decoration: dashed;
    color:#1a8b3c;
    font-weight: 800;
}
main ul,ol{
    
    margin:10px 35px;
}
main h2,h4,h3{
    padding-top: 20px;

}
/* Main Section End */
/* Footer Section Start */
footer{
    background: #05571d;
    width:100%;
    height:220px;
}
footer .link{
    float:left;
    width:33%;
    
    
}
footer .fllow{
    float:left;
    width:33%;
}
footer .copy{
    float:right;
    width:33%;
}
.link ul li,.fllow ul li,.copy ul li{
    list-style: none;
    color:#fff;
    font-size:18px;
}
.link ul,.fllow ul{
    padding:10px 30px;
}
.link h3,.fllow h3{
    padding-left:30px;
}
.link h3,.fllow h3,.copy h3{
    color:#8dedaa;
}
/* Footer Section End */
/* Meadia query start */
@media only screen and (max-width: 991px){
    .tophead ul li{
        display: block;
    }
    .tophead{
        height:auto;
        padding:10px;
    }
    header,nav{
        text-align: center;
        padding:0px 10px;
    }
    section{
        padding:0px 0px 0px 10px;
    }
    .copy{
        padding:30px;
    }
    footer{
        height:auto;
    }
}
@media only screen and (max-width:991px){
    section main,section aside{
        float:none;
        width:100%;
    }
  footer  .link,footer .fllow,footer .copy{
        float:none;
        width:100%;
        
    }
    
}
@media only screen and (max-width: 575px){
    header{
        line-height: normal;
    }
    header h1,header h3{
        display:block;

        
    }
}
/* Meadia query End */